*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color: azure;
}

.card-container{
  width: 200px;
  height: 200px;
  background-color: grey;
  display: inline-block;
  margin:20px;
}